node_modules
bower_components
dist/*
dev/*

test/galen/reports
test/galen/dumps

test/gemini-report/*
test/gemini/wwwroot/*

.sass-cache
.tmp
project.sublime-workspace
.idea
~*
.log

gemini-report
gemini-coverage
